#!/bin/sh

# This file is imported in .xinitrc to execute these commands

# Loading display mode (must be set first)
autorandr --change ext

# Enable NUMLOCK
numlockx &

# Toggle touchpad (if exists)


# Start udiskie for automounting usb drives
udiskie &

# Fix for flameshot
exec dwm &
flameshot &

# Setting wallpaper - just copy the image to .config and rename it - make sure there is only one image
xwallpaper --center /usr/share/backgrounds/archlinux/small.png &

# Simple X hotkey daemon
sxhkd &

# dunst notification daemon
dunst &

# Scripts
dwmstatus &  # dwm status bar

# Startup Applications
exec $TERMINAL -e ncmpcpp &
exec $TERMINAL -e newsboat &
exec $(sleep 3 ; cd $HOME/dls/email_attachments/ ; $TERMINAL -e neomutt) &  # sleep to give enough time to connect to imap server
telegram-desktop &

# For window transparency
xcompmgr -c

